<a [routerLink]="'' + pokemon.id"
  class="bg-teal-100 hover:bg-teal-200 duration-300 shadow-md p-2 rounded-sm flex justify-center flex-col">
  <div class="flex justify-between">
    <div class="flex flex-col">
      <span class="font-semibold text-center">{{weight}}</span>
      <span class="font-semibold text-center">{{height}}</span>
    </div>
    <span class="font-semibold uppercase">{{types}}</span>
  </div>
  <img [src]="pokemon.sprites?.front_default" [alt]="pokemon.name" class="drop-shadow-2xl">
  <span class="uppercase font-semibold text-center text-sm">{{abilities}}</span>
  <div class="bg-white rounded mt-1 py-1">
    <h6 class="text-center uppercase font-bold text-xl">#{{pokemon.id}} {{pokemon.name}}</h6>
  </div>
</a>
